[project]
name = "chess960"
version = "0.1.0"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "ruff>=0.15.4",
]

[tool.ruff]
target-version = "py312"

[tool.ruff.lint]
select = ["ALL"]
